<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
    <h:form>
        <p:growl/>
        <p:panel header="Cadastro de Contatos">
            Nome: <p:inputText value="#{helloFrm.contato.nome}"
                               required="true" requiredMessage="Nome é obrigatório"/>
            E-mail: <p:inputText value="#{helloFrm.contato.email}" required="true"
                                 requiredMessage="E-mail é obrigatório"/>
            Mensagem: <p:inputText value="#{helloFrm.contato.mensagem}" required="true"
                                 requiredMessage="Mensagem é obrigatório"/>
            <p:commandButton value="Salvar" action="#{helloFrm.gravar}" update="@form"/>
        </p:panel>
        <p:dataTable value="#{helloFrm.lista}" var="item">
            <p:column headerText="NOME">
                <h:outputText value="#{item.nome}"/>
            </p:column>
            <p:column headerText="E-MAIL">
                <h:outputText value="#{item.email}"/>
            </p:column>
            <p:column headerText="MENSAGEM">
                <h:outputText value="#{item.mensagem}"/>
            </p:column>
        </p:dataTable>
    </h:form>
</h:body>
</html>